{% extends "base.html" %}

{% block main %}
<div class="row chain">
    <div class="col-md-3">
    {% for block in chain %}
      <div class="card" style="width: 20rem;">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><h5><b>BLOCK: #</b>{{block.index}}</h5></li>
            <li class="list-group-item"><b>Nonce:</b> {{block.nonce}}</li>
            <li class="list-group-item"><b>Body:</b> {{block.body}}</li>
            <li class="list-group-item"><b>TimeStamp:</b> {{block.timestamp}}</li>
            <li class="list-group-item"><b>Previous Hash:</b> {{block.previous_hash}}</li>
            <li class="list-group-item"><b>Hash:</b> {{block.hash}}</li>
          </ul>
      </div>
    {% endfor %}
    </div>
</div>


{% endblock %}