{% extends "base.html" %}

{% block main %}
{% if jobs|length > 0 %}
<h3>Click to view all application for that job</h3>
<table class="table">
    <tr>
        <td>Job Name</td>
        <td>Job Posting</td>
        <td>Job Status</td>
    </tr>
    {% for job in jobs %}
    <tr>
        <td>
            <a href="/list_applications/{{ job.id }}">{{ job.job_title }} </a>
        </td>
        <td>
            <p>
                {{ job.job_posting }}
            </p>
        </td>
        <td>
            {% if job.status == 'assigned' %}
            <a href="/#" class="btn btn-secondary disabled">
                Job not yet completed
            </a>
            {% elif job.status == 'completed' %}
            <a href="/#" class="btn btn-secondary disabled">
                Job completed
            </a>
            {% else %}
            <a href="/#" class="btn btn-secondary disabled">
                No selected for this job
            </a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h3>No applications yet!</h3>
{% endif %}
{% endblock %}