{% extends "base.html" %}

{% block main %}
<form method="post" action="/signup">
    <div class="form-group row">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="account_type" id="account_type_user" value="company"
                   style="margin-left: 2em">
            <label class="form-check-label" for="account_type_user">Company Account</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="account_type" id="account_type_company" value="user"
                   style="margin-left: 2em" checked>
            <label class="form-check-label" for="account_type_company">User Account</label>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for='username'>Username:</label>
        <div class="col-md-6">
            <input class="form-control" id='username' name='username' type='text'>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for='first_name'>First Name:</label>
        <div class="col-md-6">
            <input class="form-control" id='first_name' name='first_name' type='text'>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for='last_name'>Last Name:</label>
        <div class="col-md-6">
            <input class="form-control" id='last_name' name='last_name' type='text'>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for='password'>Password:</label>
        <div class="col-md-6">
            <input class="form-control" id='password' name='password' type='password'>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for='password2'>Confirm Password:</label>
        <div class="col-md-6">
            <input class="form-control" id='password2' name='password2' type='password'>
        </div>
    </div>
    <br/>

    <div class="form-group row">
        <button type="submit" class="btn btn-primary" style="margin-left: 2em">Create User</button>
        <button type="reset" class="btn btn-secondary-outline" style="margin-left: 2em">Cancel</button>
    </div>
</form>
{% endblock %}
