{% extends "base.html" %}

{% block main %}
<form method="post" action="/login">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for='username'>Username:</label>
        <div class="col-md-6">
            <input class="form-control" id='username' name='username' type='text'>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for='password'>Password:</label>
        <div class="col-md-6">
            <input class="form-control" id='password' name='password' type='password'>
        </div>
    </div>
    <br/>

    <div class="form-group row">
        <button type="submit" class="btn btn-primary" style="margin-left: 2em">Login</button>
        <button type="reset" class="btn btn-secondary-outline" style="margin-left: 2em">Cancel</button>
    </div>
    <br/>
    <br/>

    <div class="text-muted">
        If you do not already have a username/password, please <a href='/signup'>sign up</a>.
    </div>
</form>
{% endblock %}
