{% extends "base.html" %}

{% block main %}
<h1>Settings</h1>
<form method="post" action="/profile">
    <input type="hidden" class="form-control" id='username' name='username' value='{{ user.username }}'>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for='first_name'>First Name:</label>
        <div class="col-md-6">
            <input class="form-control" id='first_name' name='first_name' type='text' value='{{ user.first_name }}'>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for='last_name'>Last Name:</label>
        <div class="col-md-6">
            <input class="form-control" id='last_name' name='last_name' type='text' value='{{ user.last_name }}'>
        </div>
    </div>
    <br/>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for='last_name'>Amount in Wallet:</label>
        <div class="col-md-2">
            <input class="form-control" id='wallet' name='wallet' type='text' value='Ž {{ user.wallet }}' disabled>
        </div>
    </div>

    <div class="form-group row">
        <button type="submit" class="btn btn-primary" style="margin-left: 2em">Update Profile</button>
    </div>
</form>
{% endblock %}