{% extends "base.html" %}

{% block main %}
<table class="table">
    <tr>
        <td>Company Name</td>
        <td>{{ job.company_name }}</td>
    </tr>
    <tr>
        <td>Company Location</td>
        <td>{{ job.company_location }}</td>
    </tr>
    <tr>
        <td>Company URL</td>
        <td><a href='{{ job.company_url }}' rel="external">{{ job.company_url }}</a></td>
    </tr>
    <tr>
        <td>Job Posting</td>
        <td>
            {{ job.job_posting }}
        </td>
    </tr>
    <tr>
        <td>Job Title</td>
        <td>{{ job.job_title }}</td>
    </tr>
    <tr>
        <td>Payment Amount</td>
        <td>{{ job.payment }}</td>
    </tr>
    <tr>
        <td>Application Instructions</td>
        <td>{{ job.application_instructions }}</td>
    </tr>
    <tr><td></td><td></td></tr>
</table>

{% if applied and session.account_type == 'user' %}
    {% if job.status == "assigned" and job.username == session.username %}
        <a href="/mark_completed/{{ job.id }}" class="btn btn-primary">
            Mark job completed
        </a>
    {% elif job.status == "not_selected" %}
        <a href="/#" class="btn btn-secondary disabled">
            Not yet selected for the job
        </a>
    {% elif job.status == "completed" and job.username == session.username %}
        <a href="/#" class="btn btn-success disabled">
            Job completed
        </a>
        {% if payment %}
        <a href="/#" class="btn btn-success disabled">
            Payment recieved
        </a>
        {% else %}
        <a href="/#" class="btn btn-danger disabled">
            Payment not recieved
        </a>
        {% endif %}
    {% else %}
        <a href="/#" class="btn btn-secondary disabled">
            Someone else selected for job
        </a>
    {% endif %}
    <!-- endif job.selection_possible -->
{% elif not applied and session.account_type == 'user' %}
    {% if session.logged_in and job.allow_apply %}
        <a href="/apply/{{ job.id }}" class="btn btn-primary">
            Apply
        </a>
    {% else %}
        <a href="/#" class="btn btn-secondary disabled">
            Apply
        </a>
    {% endif %}
    <!-- endif session.logged_in and job.allow_apply -->
{% elif session.account_type == 'company' %}
    {% if job.status == "completed" %}
        <a href="/#" class="btn btn-success disabled">
            Job completed
        </a>
    {% endif %}

    {% if job.status == "completed" and job.createdby == session.username %}
        {% if not payment %}
        <a href="/make_payment/{{ job.id }}" class="btn btn-primary">
            Make Payment
        </a>
        {% else %}
        <a href="/#" class="btn btn-success disabled">
            Payment Complete
        </a>
        {% endif %}
    {% endif %}
    {% if job.createdby == session.username %}
    <a href="/create" class="btn btn-secondary">
        Create new job
    </a>
    {% endif %}
{% endif %}
<!-- endif applied|not applied and session.account_type == 'user' -->
{% endblock %}
